#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --with javahelper # use the javahelper extension

override_dh_auto_build:
	export GRADLE_USER_HOME="`pwd`/gradle"; \
	export GRADLE_OPTS="-Dorg.gradle.daemon=false -Xmx512m"; \
	./gradlew installDist; \
	./gradlew test

# additional install target of javahelper
override_jh_installlibs:
	LIB_DIR="debian/maven-dependencies/opt/maven-dependencies/lib"; \
	mkdir -p $${LIB_DIR}; \
	install build/install/maven-dependencies/lib/*.jar $${LIB_DIR}; \
	BIN_DIR="debian/maven-dependencies/opt/maven-dependencies/bin"; \
	mkdir -p $${BIN_DIR}; \
	install --mode=775 build/install/maven-dependencies/bin/* $${BIN_DIR};
